#quiz {
    font-size: 25px;
    margin-left: 20%;
    margin-right: 10%;
    max-width: 60%;
}

.btn {
    height: 50px;
    margin-top: 10px;
    border: solid #8c8c8c;
    margin-right: 2px;
}
.jumbotron {
    background-color: #f2f2f2;
}
body {
    background-color: #f2f2f2
}

.timer {
    color: white;
}

#name {
    width: 40%;
}

#questions h2 {
    margin-top: 10%;
}

#questions #choices {
    margin-top: 5%;
}

.questions {
    text-align: center;
}

.table-bordered {
    padding: 10px;
    font-size: 20px;
    margin: auto;
    width: 50% !important; 
    max-width: 300px;
    
}